<ion-header>
  <ion-toolbar class="main-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button class="text-white drop-shadow-sm"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span class="font-bold text-white drop-shadow-sm">Thud.</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Collections scrollable list -->
  <div class="w-full h-12 overflow-x-auto overflow-y-hidden flex flex-row pt-3 px-7">
    <div *ngFor="let collection of (collections | orderByIndex)" class="mr-7 shrink-0 relative active:text-sky-500" (click)="navigateToCollection(collection)">
      <p class="font-bold text-2xl">{{ collection.name }}</p>
      <span class="absolute bottom-0 w-1/3 h-0 border-b-4 border-sky-500 rounded-full" *ngIf="selectedCollection?.id === collection.id"></span>
    </div>
  </div>

  <!-- Collection Streams -->
  <div class="w-full h-fit mt-5 mb-20">
    <app-stream *ngFor="let feed of (selectedCollection?.feedList | orderByIndex)" 
    [feedId]="feed.feedId" [collectionId]="selectedCollection.id" [iconUrl]="feed.iconUrl" [readEntries]="readEntries"></app-stream>
  </div>

</ion-content>
