.main-toolbar {
  .dark {
    --background: var(--main-toolbar-background);
  }
}

ion-content {
  --background: var(--ion-color-light-shade);

  .dark {
    --background: var(--ion-background-color);
  }
}
