<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>
      @if (!collection) {
        <span>Create</span>
      } @else {
        <span>Edit</span>
      }
      collection
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="relative w-full h-full">
    <div class="w-full h-16 px-5 pt-5">
      <input type="text" class="bg-transparent w-full text-3xl font-semibold outline-none border-none"
        placeholder="Name your collection" maxlength="25" [(ngModel)]="collectionName">
      </div>
      <div class="w-full h-fit my-2 pr-5 pl-1">
        <ion-item lines="none">
          <ion-label position="floating">
            <span class="text-gray-400">Description</span>
          </ion-label>
          <ion-textarea class="text-base font-medium" placeholder="Add a description" maxlength="50" [(ngModel)]="collectionDescription" ngDefaultControl></ion-textarea>
        </ion-item>
      </div>

      @if (!collection) {
        <ion-button expand="full" color="dark"
          (click)="createCollection()"
          class="-mx-1 absolute bottom-0 left-0 right-0 h-14 normal-case fix-bottom-button">
          Create
        </ion-button>
      } @else {
        <ion-button expand="full" color="dark"
          (click)="saveCollection()"
          class="-mx-1 absolute bottom-0 left-0 right-0 h-14 normal-case fix-bottom-button">
          Save
        </ion-button>
      }
    </div>
  </ion-content>