<ion-content>

  <div class="w-full h-full">
    <iframe [src]="safeUrl" frameborder="0" class="w-full h-full"></iframe>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="reload()">
        <ion-icon slot="icon-only" name="reload"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>