<ion-content [ngClass]="{
  'default': articleSettings?.background === 'default' || !articleSettings?.background,
  'lightbrown': articleSettings?.background === 'lightbrown',
  'lightgrey': articleSettings?.background === 'lightgrey',
  'mediumgrey': articleSettings?.background === 'mediumgrey',
  'darkgrey': articleSettings?.background === 'darkgrey',
  'font-10': articleSettings?.fontSize === 10,
  'font-11': articleSettings?.fontSize === 11,
  'font-12': articleSettings?.fontSize === 12 || !articleSettings?.fontSize,
  'font-13': articleSettings?.fontSize === 13,
  'font-14': articleSettings?.fontSize === 14,
  'font-15': articleSettings?.fontSize === 15,
  'font-sans': articleSettings?.fontFamily === 'sans' || !articleSettings?.fontFamily,
  'font-serif': articleSettings?.fontFamily === 'serif',
  'font-mono': articleSettings?.fontFamily === 'mono'
}">
  <div class="entry-content">
    @if (entry) {
      <div class="mx-6">
        <!-- Entry header -->
        @if (entry.visual && entry.visual?.url !== 'none') {
          <div class="mt-8">
            <img [src]="entry.visual.url" class="w-full rounded-xl shadow-sm">
          </div>
        }
        <!-- Entry origin -->
        @if (entry.origin.title) {
          <h3 class="!text-blue-500 text-sm font-semibold mt-7 mb-2 truncate uppercase entry-origin">
            {{ entry.origin.title }}
          </h3>
        }
        <!-- Entry title -->
        <div class="text-2xl font-bold">
          <p>{{ entryTitle() }}</p>
        </div>
        <!-- Metadata container -->
        <div class="bg-white dark:bg-slate-700 metadata w-full rounded-md h-fit flex flex-col border border-slate-50 dark:border-slate-800 shadow-sm py-2 px-4 mt-3 mb-5">
          <h2 class="text-slate-800 dark:text-slate-100">
            <span class="text-base font-medium">{{ entry.author }}</span>
          </h2>
          <p class="text-slate-500 text-sm dark:text-slate-300">
            {{ entry.published | epochTimeago }}
          </p>
        </div>
        <!-- Entry content -->
        <div class="mb-5">
          <p [innerHTML]="content" class="content-wrapper"></p>
        </div>
        <!-- Open in app button-->
        @if (entry?.alternate[0].href) {
          <div class="w-full text-center mb-5">
            <ion-button fill="outline" class="open-external-button normal-case" (click)="openOrigin()">
              Open website
            </ion-button>
          </div>
        }
      </div>
    }
  </div>

  <!-- Skeleton -->
  @if (!entry) {
    <div class="w-full h-full px-6 animate-pulse overflow-hidden">
      <div class="w-full h-44 bg-black bg-opacity-20 mt-8 rounded-lg"></div>
      <p class="w-1/2 h-5 mt-7 mb-4 bg-black bg-opacity-20"></p>
      <p class="w-full h-8 bg-black bg-opacity-20"></p>
      <p class="w-2/3 h-8 mt-2 bg-black bg-opacity-20"></p>
      <div class="w-full h-20 bg-black bg-opacity-20 rounded-md shadow-sm mt-5 mb-7"></div>
      @for (skeleton of [1,2,3]; track skeleton) {
        <p class="w-full h-4 mt-2 bg-black bg-opacity-20"></p>
      }
      <p class="w-2/3 h-4 mt-2 bg-black bg-opacity-20"></p>
      @for (skeleton of [1,2,3]; track skeleton) {
        <p class="w-full h-4 mt-2 bg-black bg-opacity-20"></p>
      }
      <p class="w-1/2 h-4 mt-2 bg-black bg-opacity-20"></p>
    </div>
  }

</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      @if (entry?.alternate[0].href) {
        <ion-button (click)="shareEntry()">
          <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
        </ion-button>
      }
      @if (entry?.alternate[0].href) {
        <ion-button (click)="openOrigin()">
          <ion-icon slot="icon-only" name="share-outline"></ion-icon>
        </ion-button>
      }
      <ion-button (click)="bookmarkEntry()">
        @if (!bookmarked) {
          <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
        }
        @if (bookmarked) {
          <ion-icon slot="icon-only" name="bookmark"></ion-icon>
        }
      </ion-button>
      <ion-button (click)="openArticleSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
