<ion-header>
  <ion-toolbar class="main-toolbar">
    <ion-title>
      <span class="font-bold text-white drop-shadow-sm">Settings</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Content -->
  <section class="mt-5">
    <ion-list-header mode="ios">
      Content
    </ion-list-header>
    <ion-list class="p-0 pt-1">
      <ion-item lines="full" detail="true" [routerLink]="['/collections']">
        <ion-icon name="file-tray-stacked-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Manage collections</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="timer-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Cache timeout</h2>
          <p>Time between automatic refresh (in minutes)</p>
        </ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-range min="10" max="120" step="10" snaps="true" color="primary" [pin]="true" 
        [debounce]="400" [(ngModel)]="cacheTimeoutMinutes" (ionChange)="saveSettings()">
          <ion-label slot="start">
            <ion-icon slot="icon-only" name="hourglass-outline"></ion-icon>
          </ion-label>
          <ion-label slot="end">
            <ion-icon slot="icon-only" name="hourglass-outline" class="rotate-180"></ion-icon>
          </ion-label>
        </ion-range>
      </ion-item>
    </ion-list>
  </section>

  <!-- Theme -->
  <section class="mt-3">
    <ion-list-header mode="ios">
      Theme
    </ion-list-header>
    <div class="mt-4 flex w-full h-fit flex-row items-center justify-center">
      <div class="w-1/2 flex items-center justify-center">
        <!-- Dark theme -->
        <div class="w-28 h-32 border-2 box-content border-slate-500 rounded-lg bg-slate-500 overflow-hidden shadow-md"
        [ngClass]="{'border-blue-500 border-2': settings?.theme === 'dark'}"
        (click)="setTheme('dark')">
          <div class="h-3/4">
            <div class="bg-slate-800 w-full h-full">
              <p class="w-full h-4 bg-slate-900 border-b border-slate-700 mb-3"></p>
              <p class="w-1/4 h-2 bg-slate-500 mx-2 mb-1 rounded-full"></p>
              <p class="w-3/4 h-2 bg-slate-500 mx-2 mb-1 rounded-full"></p>
              <p class="w-2/4 h-2 bg-slate-500 mx-2 mb-1 rounded-full"></p>
              <div class="w-full h-fit flex justify-center mt-4">
                <p class="w-1/4 h-2 bg-slate-400 rounded-full"></p>
              </div>
            </div>
          </div>
          <div class="h-1/4 px-2 flex items-center">
            <p class="font-semibold text-white">
              Darcula
            </p>
          </div>
        </div>
      </div>
      <div class="w-1/2 flex items-center justify-center">
        <!-- Light theme -->
        <div class="w-28 h-32 border-2 box-content border-slate-500 rounded-lg overflow-hidden shadow-md"
        [ngClass]="{'border-blue-500 border-2': settings?.theme === 'light' || !settings?.theme}"
        (click)="setTheme('light')">
          <div class="h-3/4">
            <div class="bg-slate-50 w-full h-full">
              <p class="w-full h-4 bg-slate-100 border-b border-slate-200 mb-3"></p>
              <p class="w-1/4 h-2 bg-slate-400 mx-2 mb-1 rounded-full"></p>
              <p class="w-3/4 h-2 bg-slate-400 mx-2 mb-1 rounded-full"></p>
              <p class="w-2/4 h-2 bg-slate-400 mx-2 mb-1 rounded-full"></p>
              <div class="w-full h-fit flex justify-center mt-4">
                <p class="w-1/4 h-2 bg-slate-800 rounded-full"></p>
              </div>
            </div>
          </div>
          <div class="h-1/4 px-2 flex items-center">
            <p class="font-semibold">
              Snowflake
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Article -->
  <section class="mt-5 mb-20">
    <ion-list-header mode="ios">
      Article View
    </ion-list-header>
    <ion-list>
      <ion-item lines="none">
        <ion-icon name="color-palette-outline" slot="start"></ion-icon>
        <ion-label>Background color</ion-label>
      </ion-item>
      <div class="w-full flex flex-row flex-nowrap mt-2">
        <div class="article-color-palette default border-2 border-slate-100 w-1/5 aspect-square rounded-full mx-3 shadow-sm"
        [ngClass]="{'border-4 border-blue-500': articleSettings?.background === 'default' || !articleSettings?.background}"
        (click)="setArticleTheme('default')"></div>

        <div class="article-color-palette lightbrown border-2 border-slate-100 w-1/5 aspect-square rounded-full mx-3 shadow-sm"
        [ngClass]="{'border-4 border-blue-500': articleSettings?.background === 'lightbrown'}"
        (click)="setArticleTheme('lightbrown')"></div>

        <div class="article-color-palette lightgrey border-2 border-slate-100 w-1/5 aspect-square rounded-full mx-3 shadow-sm"
        [ngClass]="{'border-4 border-blue-500': articleSettings?.background === 'lightgrey'}"
        (click)="setArticleTheme('lightgrey')"></div>

        <div class="article-color-palette mediumgrey border-2 border-slate-100 w-1/5 aspect-square rounded-full mx-3 shadow-sm"
        [ngClass]="{'border-4 border-blue-500': articleSettings?.background === 'mediumgrey'}"
        (click)="setArticleTheme('mediumgrey')"></div>

        <div class="article-color-palette darkgrey border-2 border-slate-100 w-1/5 aspect-square rounded-full mx-3 shadow-sm"
        [ngClass]="{'border-4 border-blue-500': articleSettings?.background === 'darkgrey'}"
        (click)="setArticleTheme('darkgrey')"></div>
      </div>
      <ion-item lines="full"></ion-item>

      <ion-item lines="none">
        <ion-icon name="expand-outline" slot="start"></ion-icon>
        <ion-label>
          <h2>Font size</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="full" *ngIf="articleSettings">
        <ion-range min="10" max="15" step="1" snaps="true" color="primary" [pin]="true" 
        [debounce]="400" [(ngModel)]="articleSettings.fontSize" (ionChange)="saveSettings()">
          <ion-label slot="start">
            <span class="text-xs font-bold">A</span>
          </ion-label>
          <ion-label slot="end">
            <span class="text-2xl font-bold">A</span>
          </ion-label>
        </ion-range>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="text-outline"></ion-icon>
        <ion-label>Font family</ion-label>
      </ion-item>
      <div class="w-full px-3 pt-2" *ngIf="articleSettings" (ionChange)="saveSettings()">
        <ion-segment mode="ios" [(ngModel)]="articleSettings.fontFamily">
          <ion-segment-button value="serif">
            <span class="font-serif font-medium">Serif</span>
          </ion-segment-button>
          <ion-segment-button value="sans">
            <span class="font-sans font-medium">Sans-serif</span>
          </ion-segment-button>
          <ion-segment-button value="mono">
            <span class="font-mono font-medium">
              Monospace
            </span>
          </ion-segment-button>
        </ion-segment>
      </div>

      <ion-item lines="full"></ion-item>
      <ion-item lines="none" *ngIf="articleSettings">
        <ion-icon slot="start" name="browsers-outline"></ion-icon>
        <ion-label class="">
          <h2>Use system browser</h2>
          <p>Disable in-app browser for articles</p>
        </ion-label>
        <ion-toggle slot="end" (ionChange)="saveSettings()" [(ngModel)]="articleSettings.useSystemBrowser"></ion-toggle>
      </ion-item>

    </ion-list>
  </section>


</ion-content>
