<div class="fixed top-0 bottom-0 left-0 right-0 z-[100] w-screen h-screen overflow-hidden flex items-center justify-center backdrop-blur-sm">
  <div class="bg-slate-50 dark:bg-slate-800 w-11/12 h-auto min-h-[50%] rounded-xl overflow-hidden shadow-md relative zoomIn">
    @if (entry) {
      <!-- Stream header -->
      <div class="absolute top-0 z-50 w-2/3 h-7 bg-slate-800 dark:!bg-slate-700 rounded-br-md flex items-center">
        <div class="w-3 h-3 mr-1 ml-3">
          <img [src]="iconUrl" class="w-full h-full rounded-full">
        </div>
        <p class="text-slate-50 font-semibold px-2 text-sm truncate">
          {{ entry.origin.title }}
        </p>
      </div>
      <!-- Background image -->
      <div class="absolute w-full h-full z-10 bg-slate-700 dark:!bg-slate-800">
        @if (entry.visual?.url && entry.visual?.url !== 'none') {
          <img [src]="entry.visual?.url"
            class="w-full h-full aspect-square">
        }
      </div>
      <!-- Title -->
      <div
        class="absolute w-full bottom-11 z-20 bg-gradient-to-t from-slate-900/90 via-slate-800/75 to-transparent p-5 overflow-hidden backdrop-blur-[3px]"
        [ngClass]="{'h-[65%]': entrySummary, 'h-[40%]': !entrySummary}">
        <p class="text-lg text-white line-clamp-3">
          {{ entry.title }}
        </p>
        <p class="text-sm italic text-white truncate">
          {{ entry.published | epochTimeago }}
        </p>
        <p class="text-sm text-white line-clamp-4 pt-2">
          {{ entrySummary }}
        </p>
      </div>
      <!-- Options -->
      <div class="absolute bottom-0 w-full h-11 flex flex-row bg-slate-50 dark:bg-slate-800 z-50">
        <div class="absolute w-full h-full">
          <div class="relative w-full h-full">
            <div class="absolute bg-black text-white -mt-10 hidden px-2 py-1 rounded-md" id="tooltip"></div>
          </div>
        </div>
        <div class="grow flex justify-center items-center">
          @if (entry?.alternate[0].href) {
            <ion-button fill="clear" color="dark" (click)="shareEntry()" id="share-button">
              <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
            </ion-button>
          }
        </div>
        <div class="grow flex justify-center items-center">
          @if (entry?.alternate[0].href) {
            <ion-button fill="clear" color="dark" (click)="openOrigin()" id="origin-button">
              <ion-icon slot="icon-only" name="share-outline"></ion-icon>
            </ion-button>
          }
        </div>
        <div class="grow flex justify-center items-center">
          <ion-button fill="clear" color="dark" (click)="bookmarkEntry()" id="bookmark-button">
            @if (bookmarked) {
              <ion-icon slot="icon-only" name="bookmark"></ion-icon>
            } @else {
              <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
            }
          </ion-button>
        </div>
      </div>
    }
  </div>
</div>
