<ion-header>
  <ion-toolbar class="main-toolbar">
    <ion-title>
      <span class="font-bold text-white drop-shadow-sm">Bookmarks</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="mt-2 mb-20">
    <div class="h-full w-full flex flex-col">
      <div *ngFor="let bookmark of bookmarks" class="w-full h-44">
        <app-entry-card [bookmark]="bookmark" (click)="openEntry(bookmark.entryId)"></app-entry-card>
      </div>
    </div>
  </div>

  <!-- Empty state -->
  <div class="w-full" *ngIf="bookmarks && bookmarks?.length === 0">
    <div class="mt-20 px-10 w-full flex items-center justify-center">
      <div class="w-fit h-fit">
        <img src="assets/images/undraw_checking.svg" class="w-1/2 m-auto">
        <div class="text-center mt-10">
          <p class="text-2xl font-semibold">You don't have any bookmarks</p>
        </div>
      </div>
    </div>
  </div>

</ion-content>
