<ion-content>

  <div class="w-full h-full relative">
    <swiper [config]="swiperConfig" (slideChange)="onSlideChange($event)" (swiper)="startSwiper($event)" class="h-full w-full" #introSwiper>
      <ng-template swiperSlide>
        <div class="w-full h-full relative">
          <div class="w-full h-1/2 overflow-hidden bg-blue-200">
            <div class="relative h-full w-full flex flex-row justify-center bg-gradient-to-t from-slate-500/70 via-slate-400/30 to-transparent">
              <img src="assets/images/shot-screen.jpg" class="absolute w-[240px] -bottom-[120px] rounded-xl">
            </div>
          </div>
          <div class="w-full p-8 pt-10 text-left">
            <h1 class="text-4xl font-semibold mb-4">
              Streamline your feeds
            </h1>
            <p class="font-normal text-lg">
              Keep all your favorite feeds organized in one place with Thud. 
              <br>
              Accessible anytime, anywhere, it simplifies your digital life.
            </p>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="w-full h-full relative">
          <div class="w-full h-1/2 overflow-hidden bg-blue-200">
            <div class="relative h-full w-full flex flex-row justify-center bg-gradient-to-t from-slate-500/70 via-slate-400/30 to-transparent">
              <img src="assets/images/shot-read.jpg" class="absolute w-[240px] -bottom-[120px] rounded-xl">
            </div>
          </div>
          <div class="w-full p-8 pt-10 text-left">
            <h1 class="text-4xl font-semibold mb-4">
              Immerse yourself in seamless reading
            </h1>
            <p class="font-normal text-lg">
              Customize your reading experience to fit your preferences.
              <br>
              With Thud, enjoy a distraction-free environment while browsing your favorite content.
            </p>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="w-full h-full relative">
          <div class="w-full h-1/2 overflow-hidden bg-blue-200">
            <div class="relative h-full w-full flex flex-row justify-center bg-gradient-to-t from-slate-500/70 via-slate-400/30 to-transparent">
              <img src="assets/images/shot-discover.jpg" class="absolute w-[240px] -bottom-[120px] rounded-xl">
            </div>
          </div>
          <div class="w-full p-8 pt-10 text-left">
            <h1 class="text-4xl font-semibold mb-4">
              Explore and expand your content universe
            </h1>
            <p class="font-normal text-lg">
              Discover new sources and expand your knowledge horizon effortlessly.
              <br>
              Finding and adding your favorite content has never been easier, making it simple to curate your digital world.
            </p>
          </div>
        </div>
      </ng-template>
    </swiper>


    <div class="absolute bottom-5 w-full h-10 flex items-start px-2">
      <div class="h-fit w-2/5 flex items-start -mt-3">
        @if (currentSlide !== 2) {
          <ion-button color="dark" fill="clear" (click)="finish()">
            <span class="normal-case">Skip</span>
          </ion-button>
        }
      </div>
      <div class="h-full w-1/5 flex items-start justify-center">
        <div class="w-fit flex flex-row mt-1">
          @for (item of [1,2,3]; track item; let i = $index) {
            <div [ngClass]="{'paginator-active': currentSlide === i}"
            class="w-2 h-2 rounded-full bg-slate-500 mx-1"></div>
          }
        </div>
      </div>
      <div class="h-fit w-2/5 flex items-start justify-end -mt-3">
        @if (currentSlide !== 2) {
          <ion-button color="primary" fill="clear" (click)="nextSlide()">
            <span class="normal-case">Next</span>
          </ion-button>
        }
        @if (currentSlide === 2) {
          <ion-button color="primary" fill="clear" (click)="finish()">
            <span class="normal-case">Get started</span>
          </ion-button>
        }
      </div>
    </div>

  </div>

</ion-content>
